body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.x-box {
  /* border-radius: 50%; */
  background-color: green;

  background: repeating-conic-gradient(
    from 0deg,
    blue 0deg calc(3.6deg * 35),
    orange calc(3.6deg * 35) calc(3.6deg * 45),
    black calc(3.6deg * 45) calc(3.6deg * 65),
    red calc(3.6deg * 65) calc(3.6deg * 75),
    aqua calc(3.6deg * 75) calc(3.6deg * 80),
    green calc(3.6deg * 80) calc(3.6deg * 90),
    gray calc(3.6deg * 90) calc(3.6deg * 100)
  );
}

.x-box-cont {
  font-size: 30px;
  padding-left: 50px;
}

html {
  background-color:rgb(19, 191, 235);
}

.bg-login {
  background-image: linear-gradient(rgb(158, 194, 198), rgb(19, 191, 235));
  height: 100vh;
}

.bg-register {
  background-image: linear-gradient(rgb(158, 194, 198), rgb(19, 191, 235));
  height: 100vh;
}

.bg-next-register {
  background-image: linear-gradient(rgb(158, 194, 198), rgb(19, 191, 235));
  height: 100vh;
}

.bg-dashboard {
  background-color:rgb(247, 245, 245);
}

@media (max-width: 1024px) {
  .bg-login {
    height: 100%;
  }
  .bg-register {
    height: 100%;
  }
  .bg-next-register {
    height: 100%;
  }
  .bg-dashbooard {
    height: 100%;
  }
}

